@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&family=Poppins&family=Roboto&display=swap');
$secondary-font: 'Poppins', sans-serif;
$base_font_size : 1.03rem;
$primary-font: 'Playfair Display', serif;
$default-font: 'Roboto', sans-serif;
$h1size : 4rem;
$h2size : 2.8rem;
$h3size : 1.2rem;
$h4size : 0.8rem;
$h5size : 0.6rem;
$h6size : 0.4rem;