@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Playfair+Display:wght@400;500;700&family=Roboto:wght@100;400;700&display=swap');
$secondary-font: 'Amatic SC', cursive;
$base_font_size : 1rem;
$primary-font: 'Playfair Display', serif;
$default-font: 'Roboto', sans-serif;
$h1size : 4rem;
$h2size : 2.8rem;
$h3size : 1.5rem;
$h4size : 0.8rem;
$h5size : 0.6rem;
$h6size : 0.4rem;