@import "./colors" ;
@import "./typography" ;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-size: $base_font_size;
    letter-spacing: 0.05rem;
    scroll-behavior: smooth;
  /*  background-image: url("./../images/Donuts.png");
    background-repeat: repeat;
    background-size: contain;*/
}
body , p , input, button , span , div {
    font-family: $default-font;

}
input {
    font-size: $base-font-size;
    box-shadow: 0px 0px 5px aqua(0.5);
}

h1,h2,h3,h4,h5,h6{
    font-family: $primary-font;
    color :blue(1);
}

h1{
    font-size: $h1size ;
    text-transform: capitalize;
}
h2
{
    font-size: $h2size ;
}
h3{
    font-size: $h3size ;
}
h4{
    font-size: $h4size ;
}
h5{
    font-size: $h5size ;
}
h6{
    font-size: $h6size ;
}

p {
    padding: 10px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    outline: none;
    color: red(1) ;
    text-decoration: none;
    font-family: $primary-font;
    font-size: $h3size;
}
a:hover{
    cursor: pointer;
}
a:active{
    color : blue(1)
}

input ,textarea {
    padding: 10px;
    background-color: aqua(1);
    padding-left: 15px;
    border: none;
    outline: none;
    font-family: $default-font;
}
input::placeholder{
    color: rich-black(0.6);
}
button {
    outline: none;
    font-family: $primary-font;
    font-size: $base_font_size * 1.15;
    border: none;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    color: white;
    background-color: rich-black(1);
}

label{
    font-family: $primary-font;
    font-size: $h2size / 1.2;
    color: rich-black(0.9);
}
