@import "../colors" ;
@import "../typography";
@import "../mixins";

.education-container{
    width: 100vw;
    background-color: red(1);
    color: white(1);
    .education-inner-container{
        width: 100%;
        max-width: 1700px;
        margin: auto;
        padding: 15px;
        h1{
            text-align: center;
            padding: 20px 5px;
        }
        .education-list{
            width: 100%;
            :nth-child(odd){
                flex-direction: row-reverse;
                .education-component-content{
                    padding-right: 30px;
                        padding-left: 10px;
                }
            }
            .education-component{
                background-color: black(1);
                display: flex;
                justify-content: flex-start;
                align-content: space-round;
                flex-wrap: nowrap;
                align-content: space-around;
                max-width: 1200px;
                margin: 15px auto;
                height: 550px;

                img{
                    flex: 1;
                    width: 550px;
                    object-fit: cover;
                }
                .education-component-content{
                    height: 100%;
                    @include flexify(column,space-around);
                    flex: 2;
                    max-width: 500px;
                    padding: 10px;
                    padding-left: 30px;
                    h2{
                        color:red(1);
                    }
                    a{
                        align-self: flex-end;
                        padding: 10px 30px;
                        background-color: blue(1);
                        color: white(1);
                    }
                }
            }
        }


    }
}