@import "../colors" ;
@import "../typography" ;
.hero{
    height: 90vh;
    width: 100vw;
    background-image: url("./../../images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    *{
        z-index: 2;
    }
    h1{
    }
    p{
        font-family: $secondary-font;
        font-size: $h3size;
    }
}
.hero::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, blue(0.5) 40%, rich-black(0.5) 100%);
    opacity: 0.5;
}